# SPDX-FileCopyrightText: 2023 Andreas Kahler <mail@andreaskahler.com>
#
# SPDX-License-Identifier: Unlicense

__pycache__/
/gitbuilding/models/
/gitbuilding/svg/
/gitbuilding/3dprintingparts.md
/gitbuilding/3DPParts.yaml
/gitbuilding/DeviceParts.yaml
