# SPDX-FileCopyrightText: 2023 Daniel Mohns <daniel.mohns@posteo.de>
#
# SPDX-License-Identifier: Unlicense

cadquery>=2
git+https://github.com/cadscriptHQ/cadscript.git@dev#egg=cadscript
git+https://gitlab.com/gitbuilding/exsource-tools.git
git+https://github.com/CadQuery/cq-cli.git
gitbuilding
