# SPDX-FileCopyrightText: 2023 Daniel Mohns <daniel.mohns@posteo.de>
#
# SPDX-License-Identifier: Unlicense

cadquery>=2
git+https://github.com/cadscriptHQ/cadscript.git@dev#egg=cadscript
gitbuilding
